h1 {
	color: grey;
	font-weight: normal;
	transform: translate(5%, 50%);
}
.riwayat {
	color: grey;
	font-weight: normal;
	transform: translate(5%, 50%);
}
.pasien {
	font-family: sans-serif;
	width: 100%;
	margin-top: 50px;
	font-weight: normal;
	transform: translate(2%, 10%);
	line-height: 40px;
}
.tabeli{
	font-family: sans-serif;
	color: #444;
	width: 100%;
	border: 1px solid #f2f5f7;
	margin-top: 50px;
}
.tabeli tr th{
	background-color: #35a9db;
	color: #fff;
	font-weight: normal;
}
.tabeli, th, td{
	padding: 8px 20px;
	text-align: center;
}
.tabeli tr:nth-child(even){
	background: #86dcec;
}
.tabel2 {
	color: #444;
	border: 1px solid #f2f5f7;
	margin-top: 50px;
	font-family: Helvetica;
	box-sizing: border-box;
	border:0; border-collapse: collapse;
}
.tabel2 thead {
	background:#0088FF; color: white;
}
.tabel2 th, td {
	padding: 15px;
}